.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(195, 149, 157);
    
}

.logo {
    color: black;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin:  15px;
}
li {
    padding: 8px;
    border: 2px solid crimson;
    border-radius: 10px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}
